<figure class="ml0 center w-100">
    <div class="center">
        <div class="dib w-30">
            <img src="{{ include.image_url_1 }}" alt="{{ include.caption_1 }}">
        </div>
        <div class="dib w-30">
            <img src="{{ include.image_url_2 }}" alt="{{ include.caption_2 }}">
        </div>
        <div class="dib w-30">
            <img src="{{ include.image_url_3 }}" alt="{{ include.caption_3 }}">
        </div>
    </div>
    <figcaption class="f4 tc gray">
        <a href="{{ include.caption_url_1 }}">{{ include.caption_1 }}</a> |
        <a href="{{ include.caption_url_2 }}">{{ include.caption_2 }}</a> |
        <a href="{{ include.caption_url_3 }}">{{ include.caption_3 }}</a>
    </figcaption>
</figure>