:root {
  @apply text-black dark:bg-dark-gray dark:text-white;
  font-size: 20px;
}

@media print {
  html {
    zoom: 0.67;
  }
  @page {
    size: A4;
    format: A4;
    margin-top: 7mm;
    margin-bottom: 7mm;
    margin-left: 2cm;
    margin-right: 2cm;
  }
}

a {
  @apply underline decoration-1 underline-offset-[3px];
}

ul {
  @apply list-disc pl-4;
}

ol {
  @apply list-decimal list-inside;
}

h1,
h2 {
  @apply font-space-grotesk;
}

pre,
code,
.code {
  font-variant-ligatures: none;
}
