:root {
  @apply text-black dark:bg-dark-gray dark:text-white;
  font-size: 20px;
}

@media print {
  html{zoom: 0.67;}
  @page {
    size: A4;
    margin: 1cm;
  }
}

a {
  @apply underline decoration-1 underline-offset-[3px];
}

ul {
  @apply list-disc pl-4;
}

h1,
h2 {
  @apply font-space-grotesk;
}

pre,
.code {
  font-variant-ligatures: none;
}
